<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-lg="3" vs-sm="10" vs-xs="10">
        <vs-card>
            <div slot="header">
                <h3>
                    Iniciar Sesión
                </h3>
            </div>
            <div>
                <form>
                    <div class="form-login">
                        <vs-input icon="account_circle" label-placeholder="Nombre de usuario" v-model="login.username" />
                        <vs-input icon="lock" label-placeholder="Contraseña" type="password" v-model="login.password" />
                        <vs-divider />
                        <vs-button color="primary" type="filled" @click="submit">Iniciar sesión</vs-button>
                    </div>
                </form>
                {{login}}
            </div>
        </vs-card>
    </vs-col>
</vs-row>