<vs-row vs-justify="center">
    <vs-col type="flex" vs-justify="center" vs-align="center" vs-lg="3" vs-sm="12" vs-xs="12">
        <vs-card>
            <div slot="header">
                <h3>
                    Iniciar Sesión
                </h3>
            </div>
            <div>
                <form>
                    <div class="form-login">
                        <vs-input icon="account_circle" label-placeholder="Nombre de usuario" />
                        <vs-input icon="lock" label-placeholder="Contraseña" type="password" />
                        <vs-divider />
                        <vs-button icon="input"></vs-button>
                    </div>
                </form>
            </div>
        </vs-card>
    </vs-col>
</vs-row>