.form-login {
    .vs-input--input {
        margin: 4px;
    }
    .vs-input--placeholder {
        padding-top: 10px;
    }
    .vs-con-input-label {
        width: 98%;
    }
}

.con-vs-card {
    margin-top: 150px;
}